<div class="container-fluid" id="help">
  <div class="box">
	<header>
	  <div class="row nav">
	  	<div class="col-xs-3"><a href="#!/" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a></div>
	  	<div class="col-xs-6"><p>Help</p></div>
	  	<div class="col-xs-3"></div>
	  </div>
	</header>
	<hr class="pipe">
		
	<div class="help-info">
		<div class="row">
			<div class="col-sm-12">
			  <div class="play-mode">
			  	<h3>Play Mode</h3>
			  	<p>This simple and attractive game helps you to learn capital cities of all countries of the world.</p> 
			  	<p>Check your knowledge of geography with "World Quiz" app.</p>
			  	<h4>How to Play?</h4>
			  	<p>1. Select Capital of the given country.</p>
			  	<p>2. Answer all questions.</p>
			  </div>
			</div>
		</div>
	</div>
  </div>
</div>

 