<div class="container-fluid" id="world-quiz">
  <div class="box">
  	<header>
	  <div class="row nav">
	  	<div class="col-xs-2"><a href="#!/" title="Home"><i class="fa fa-home" aria-hidden="true"></i></a></div>
	  	<div class="col-xs-8"><p>World Geography Quiz</p></div>
	  	<div class="col-xs-2"><a href="#!/quizzes-list" title="Back"><i class="fa fa-reply" aria-hidden="true"></i></a></div>
	  </div>
	</header>
	<hr class="pipe">
	
	<div class="world-quiz-btns">
		<div class="row">
			<div class="col-sm-12">
				<div class="continent-box">
				  <h4>World Geography Quiz</h4>
				  <span>Question: 15</span><br>
				  <a href="#!/quizzes-list/world/quiz" class="btn">Start</a>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>